/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

//---------Navbar---------

.navbar-default {
    background-color: #212121;
    border-color: #212121;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #EF6C00;
    padding: 10px 15px;
    line-height: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #EF6C00;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FF6F00;
    background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFE0B2;
    color: #212121;
}
.form-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 250px; //加上width
}

.navbar-margin{
    margin-top: 20px
}


//---------Box---------

.video {
   position: fixed;
   
   z-index: 1;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   transform: translate(-50%, -50%);
}

.video-background {
    qqposition: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    display: block;
    z-index: -100;
}

.box {
    
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;

    .box-inner {
        background-color: 0,0,0,0;
        padding-bottom: 5px;
        margin-top: 150px;
        //margin-bottom: 150px;
    }

    .title {
        text-align: center;
        //margin-bottom: 80px;
        color: slategray;
    }

    .slogan {
        color: #222;
        margin-top: 10px;
        //margin-bottom: 50px;
        text-align: center;
        font-size: 18px;
        top: 12px;
        color: slategray;
    }

    .lead {
        margin-bottom: 15px;
        text-align: center;
        color: darkgrey;
    }
}


//---------Content---------

.col-md-12{
    width:100%;
    float: none;
}

.slogan {
        color: #222;
        margin-top: 10px;
        //margin-bottom: 50px;
        text-align: center;
        font-size: 18px;
        top: 12px;
        color: slategray;
    }

.fl{
    display: inline-block;
}

.section {
    padding-top: 20px;
    padding-bottom: 85px;
}

.our-advantage{
    padding-top: 20px;
    background: #F2F2F5;
    padding-bottom: 15px;
}

.section.section-content {
    width: 1000px;
    padding-top: 60px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8em;
}
.section-title {
    text-align: center;
    font-size: 34px;
    color: #858c8b;
    line-height: 34px;
}

.section-content .col-3 {
    padding-top: 20px;
}

.advantage-tag{
    width: 350px;
    text-align: center;
    margin-left: 12px;
}

.section-content .col-3 .item {
    width: 33.33%;
    position: relative;
    margin-left: 53px;
    top: 0;
    text-align: center;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.section-content .col-3 .item .advantage-img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.advantage-title {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333333;
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.pricing-three-column {
    margin: 20px auto;
    margin-bottom: 0px;
    width: 100% !important;
}

.pricing-table .plan {
    margin-left: 0px;
    border-radius: 5px;
    width: 30%;
    float: left;
    margin-right: 16px;
    text-align: center;
    background-color: #f3f3f3;
    -moz-box-shadow: 0 0 6px 2px #b0b2ab;
    -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
    box-shadow: 0 0 6px 2px #b0b2ab;
}

.plan {
    padding: 20px;
    margin-left: 0px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #5e5f59;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.plan-name-bronze {
    padding: 20px;
    color: #fff;
    background-color: #000000;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #777777;
    border-radius: 10px;
}

h2, .h2 {
    font-size: 30px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.pricing-table .plan ul {
    list-style: none;
    margin: 0;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}



.pricing-three-column {
    margin: 20px auto;
    margin-bottom: 0px;
    width: 80%;
}

.sidebar {
    display: none;
    position: fixed;
    z-index: 998;
    right: 30px;
    bottom: 30px;
    width: 40px;
margin-right: 10px;
    height: auto;
    line-height: 20px;
}

.sidebar li:first-child {
    margin-top: 0;
}

.sidebar li {
    position: relative;
    display: block;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    margin-top: 8px;
    background: #fbfbfb;
    line-height: 42px;
}

.sidebar li.backtop i {
    font-size: 18px;
}

.sidebar li i {
    color: #555;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//---------Footer---------

footer {
    bottom: 0;
    width: 100%;
}


html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 55px auto 0px;
}

#qz-footer {
    height: 290px;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
}

.contact-line-block {
    float: right;
    width: 40%;
    padding: 50px 0 0;
}

.right-block {
    margin: 0 20px;
}

.introduce {
    padding-bottom: 50px;
}

.img-block {
    float: left;
    width: 58px;
}

.introduce-block {
    color: #666;
    text-align: left;
    margin: 0;
    float: left;
    padding: 10px 0 0 8px;
    width: 328px;
}

.des-block {
    float: right;
    width: 60%;
    padding: 50px 0 0;
}

.column-block {
    text-align: center;
}

.column-left {
    width: 33%;
    float: left;
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.column-center {
    width: 33%;
    float: left;
    text-align: center;
}

.column-right {
    width: 33%;
    float: left;
    text-align: center;
}

.footer-section {
    display: block;
    width: 100%;
    height: 275px;
    background: #E0E0E0;
    margin-top: 0;
}

.footer-section .footer-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    width: 100%;
    padding: 0;
    position: relative;
    color: #333;
}

.fline {
    padding-top: 30px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(151,151,151,0.6);
    clear: both;
}

.footer-section .footer-content .copyright-block {
    width: 100%;
    padding: 0 50px 50px;
    display: block;
    float: none;
}

.footer-section .footer-content .copyright-block .copyright-content {
    padding-top: 10px;
    box-sizing: border-box;
}

.footer-section .footer-content .copyright-block .copyright-content .copyright-info {
    color: #666;
    float: left;
    width: 50%;
    text-align: left;
    display: block;
}

.footer-section .footer-content .copyright-block .copyright-content .legal-info {
    font-size: 12px;
    text-align: right;
    color: #999;
}

.text-center {
    text-align: center;
}

.dropdown {
    position: relative;
    margin-top: 10px;
}

.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}